@keyframes activate {
    from {
        transform: translate(0, 1rem);
        opacity: 0;
    }
    to {
        transform: translate(0, 0px);
        opacity: 1.0;
    }
}

@keyframes deactivate {
    from {
        transform: translate(0, 0px);
        opacity: 1.0;
    }
    to {
        transform: translate(0, 1rem);
        opacity: 0;
    }
}

.skill {
    width: 4rem;
    transform: translate(0, 0px);
    opacity: 1.0;
    animation-name: activate;
    animation-duration: 0.4s;
    animation-timing-function: ease;
    animation-play-state: running;
}

.skill.belowScroll {
    transform: translate(0, 1rem);
    opacity: 0;
    animation-name: deactivate;
    animation-duration: 0.4s;
    animation-timing-function: ease;
}

.skill {
    transition: transform 0.2s ease;
}

.skill:hover {
    transform: translate(0, -0.5rem);
}

@keyframes wiggle {
    10%, 90% {
        transform: translate3d(-1px, 0, 0);
    }
    20%, 80% {
        transform: translate3d(2px, 0, 0);
    }
    30%, 50%, 70% {
        transform: translate3d(-4px, 0, 0);
    }
    40%, 60% {
        transform: translate3d(4px, 0, 0);
    }
}

.wiggle {
    animation: wiggle 0.82s cubic-bezier(.36, .07, .19, .97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
}